div.tree-panel {
    position: absolute;
    border-style: solid;
    border-width: 2px;
    display: none;
    background-color: #3C3F41;
    min-width: 60px;
    min-height:30px;
    max-height:300px;
    overflow:auto;
    z-index: 10000;
}

div.tree-view-panel {
    position: relative;
    border: none 0px;
    min-width: 0px;
    min-height: 0px;
    max-height: none;
    z-index: auto;
    display: block;
}

    div.tree-panel dl {
        margin: 0px !important;
        padding: 0px !important;
        width:100%;
    }

    div.tree-panel dt {
        margin: 0px !important;
        padding: 0px !important;
        width:100%;
        height:30px;
        overflow:hidden;
        cursor:default;
    }

        div.tree-panel dt span {
            line-height: 28px;
        }

        div.tree-panel dt:hover {
            background-color: #1D1F21;
        }

        div.tree-panel dt.selection-item {
        }

            div.tree-panel dt.selection-item .fold-button {
                color:#FFFFFF !important;
                border-color:#FFFFFF !important;
            }

            div.tree-panel dt.selection-item .unfold-button {
                background-color: transparent;
                color:#FFFFFF !important;
            }


    div.tree-panel dd {
        margin: 0px !important;
        padding: 0px !important;
        width:100%;
    }

    div.tree-panel .fold-button {
        width: 14px;
        height: 14px;
        display: inline-block;
        margin-top: 8px;
        margin-right: 3px;
        vertical-align: top;
        overflow: hidden;
        line-height: 11px;
        cursor: pointer;
        text-align: center;
        font-size: 16px;
    }

    div.tree-panel .unfold-button {
    }

    div.tree-panel input[type='checkbox'] {
        margin: 8px 3px 3px 3px;
        vertical-align: top;
    }

input.select-text {
    background-image: url(../../images/form-info.png);
    background-position:right -119px;
    background-repeat:no-repeat;
    padding-right: 24px;
}

input.select-text::-ms-clear {
    display: none;
}

input.st-clear {
    background-position: right -168px !important;
}

dl.autocomplete-dl span {
	margin-left: 5px;
}

dl.autocomplete-dl span.query-text {
	margin-left: 0px;
}

dl.autocomplete-dl dt:hover {
	background-color:transparent;
}

dl.autocomplete-dl dt.completer-selected {
	background-color:#1D1F21;
}