div.list-panel {
    position: absolute;
    border-style: solid;
    border-width: 2px;
    display: none;
    background-color: #3C3F41;
    min-width: 60px;
    min-height:30px;
    max-height:300px;
    overflow:auto;
    z-index: 10000;
}

div.list-view-panel {
    position: relative;
    border: none 0px;
    min-width: 0px;
    min-height: 0px;
    max-height: none;
    z-index: auto;
    display: block;
}

    div.list-panel ul {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
        width: 100%;
        height: auto;
    }

    div.list-panel li {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
        list-style: none;
        width: 100%;
        height: 30px;
        line-height:30px;
        overflow:hidden;
        cursor:pointer;
    }

        div.list-panel li:hover {
            background-color: #1D1F21;
        }

        div.list-panel li.selection-item {
        }

        div.list-panel li span {
            margin-left: 5px;
            margin-right: 5px;
            line-height: 1;
        }

        div.list-panel li input[type='checkbox'] {
            vertical-align:text-top;
        }

    div.list-panel input[type='checkbox'] {
        margin: 3px 3px 3px 6px;
    }

input.select-text {
    background-image: url(../../images/form-info.png);
    background-position:right -119px;
    background-repeat:no-repeat;
    padding-right: 24px;
}

input.select-text::-ms-clear {
    display:none;
}

input.sl-clear {
    background-position: right -168px !important;
}